@import "tailwindcss";

@keyframes waveAnimation {
  0% { transform: translate3d(-90px, 0, 0); }
  100% { transform: translate3d(85px, 0, 0); }
}

.animate-wave-fast {
  animation: waveAnimation 7s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation-delay: -2s;
}

.animate-wave-mid {
  animation: waveAnimation 10s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation-delay: -3s;
}

.animate-wave-slow {
  animation: waveAnimation 13s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation-delay: -4s;
}

.animate-wave-slowest {
  animation: waveAnimation 20s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  animation-delay: -5s;
}